@import "./colors";
@import "./mixins";
@import "./header";
@import "./footer";

@import "./sections/welcome";
@import "./sections/aboutme";
@import "./sections/benefits";
@import "./sections/specialization";
@import "./sections/contacts";
@import "./sections/best_conditions";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif !important;
}

.main {
  width: 100%;
}

.hidden {
  display: none;
}
