.price {
  &__title {
    @include section-title;
    margin-bottom: 100px;
  }

  &__item {
    position: relative; /* Позиционирование для треугольника */
    padding: 10px 20px 10px 40px; /* Отступы для места под треугольник */
    background-color: rgba(223, 223, 223, 0.301);
    margin-top: 10px;
    border-radius: 10px;
    min-height: 75px;
    display: flex; /* Flexbox для центрирования содержимого */
    align-items: center; /* Вертикальное центрирование */
    justify-content: flex-start; /* Горизонтальное выравнивание влево */
  }

  &__item::before {
    content: "";
    position: absolute;
    left: -4.5px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: $primary-color;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }

  p {
    margin: 0;
    padding: 0;
  }

  &__item span {
    color: $primary-color;
    font-weight: bold;
    display: inline;
  }
}
